.wrapper {
	border: 1px solid black;
	width: 500px;
	margin-bottom: 10px;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: var(--bs-info);
	padding: 0px 5px;
	margin-bottom: 10px;
}

.header span {
	margin-left: 10px;
}

.spacer {
	flex: 1 1;
}

.content {
	padding: 5px;
}
