<div class="wrapper">
	<form class="form" [formGroup]="loginForm">
		<mat-form-field appearance="outline">
			<mat-label>Login</mat-label>
			<input formControlName="login" matInput required />
			<mat-error *ngIf="loginForm.get('login')?.invalid">{{ getErrorMessage(loginForm.get('login')) }}</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input type="password" formControlName="password" matInput required />
			<mat-error *ngIf="loginForm.get('password')?.invalid">{{ getErrorMessage(loginForm.get('password')) }}</mat-error>
		</mat-form-field>
		<mat-error *ngIf="loginErrorMessage != ''">{{ loginErrorMessage }}</mat-error>
		<div class="buttonPanel">
			<button (click)="signIn()" mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign in</button>
			<button routerLink="/register" mat-raised-button>Register</button>
		</div>
	</form>
</div>
